  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

  @import 'normalize.css';

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --font-text: 'Montserrat', Arial, Helvetica, sans-serif;
  }

  body {
    font-family: var(--font-text);
    font-size: 13px;
    overflow-x: hidden;
  }

  header {
    background-color: black;
    height: 100px;
  }

  .button {
    margin-top: 25px;
    font-weight: bold;
    border-radius: 30px;
    display: block;
    width: 200px;
    text-align: center;
    background-color: #B88A57;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    padding: 20px;
  }

  .head {
    margin: auto;
    max-width: 1140px;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 80px;
  }

  .menu {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
  }

  .menu ul,
  .menu li {
    list-style: none;
  }

  .menu ul {
    display: flex;
  }

  .menu li a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
  }

  .menu li a:hover {
    border-bottom: 5px solid #B88A57;
    color: rgba(255, 255, 255, 0.699);
  }

  /* main */

  .banner {
    height: calc(100vh - 100px);
    background-color: rgb(49, 44, 44);
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
  }

  .banner .sliders {
    width: 1000vw;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .slider {
    width: 100vw;
    height: 100%;
    display: inline-block;
  }

  .banner .slider .slidearea {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }

  .banner .slidearea h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    margin-bottom: 8px;
  }

  .banner .slidearea h1 span {
    color: #B88A57;
  }

  .banner .slidearea h2 {
    text-transform: uppercase;
  }

  .banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner .pointer {
    width: 15px;
    margin: 0 5px;
    height: 15px;
    border: 2px solid #B88A57;
    border-radius: 50%;
    cursor: pointer;
  }

  .banner .active {
    background-color: #B88A57;
  }

  .default {
    padding: 50px 0;
  }

  .default .section-title,
  .default .section-desc {
    text-transform: uppercase;
    text-align: center;
  }

  .default .section-desc {
    font-weight: 600;
  }

  .default .section-title {
    font-size: 20px;
    font-weight: bold;
  }

  .default .section-desc {
    color: #8d8d8d;
    font-size: 12px;
    margin: 13px 0 40px 0;
  }

  .default .section-body {
    margin: auto;
    max-width: 1140px;
  }

  .light {
    background-color: #f7f7f7;
  }

  .light .section-title {
    color: black;
  }

  .light .section-body {
    color: black;
  }

  .dark {
    background-color: black;
  }

  .dark .section-title {
    color: #f7f7f7;
  }

  .dark .section-body {
    color: #f7f7f7;
    flex-direction: column;
  }

  .section-aboutus {
    display: flex;
  }

  .section-aboutus--left {
    flex: 1;
  }

  .section-aboutus--left p {
    font-size: 18px;
    line-height: 25px;
  }

  .section-aboutus--right {
    max-width: 520px;
    width: calc(100% - 40px);
    text-align: center;
  }

  .section-aboutus--right img {
    width: inherit;
    box-shadow: 0px 5px 10px #333;
  }

  .section-services {
    display: flex;
  }

  .section-service {
    flex: 1;
    text-align: center;
    border-left: 1px solid #333;
    padding: 15px;
  }

  .section-service:nth-child(4) {
    border-right: 1px solid #333;
  }

  .section-service img {
    width: 50px;
  }

  .section-service h4 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 17px;
  }

  .section-service p {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
  }

  .section-projects--filters {
    border: 1px solid #999;
    background-color: #f0e8e8c4;
    border-radius: 10px;
    margin: auto;
    width: 610px;
  }

  .section-projects--filters ul {
    list-style: none;
    display: flex;
    width: 610px;
    align-items: center;
    justify-content: center;
  }

  .section-projects--filters ul li {
    border-right: 1px solid #999;
    padding: 0 20px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 3px solid #f0e8e8c4;
    text-transform: uppercase;
  }

  .section-projects--filters ul li:nth-child(6) {
    border-right: none;
  }

  .section-projects--filters ul li:hover {
    border-bottom: 3px solid #B88A57;
  }

  .section-projects--filters ul .active {
    border-bottom: 3px solid #B88A57;
  }

  .section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-projects--photo {
    width: 280px;
  }

  .section-projects--photoarea {
    width: 260px;
    height: 160px;
    margin: 10px;
  }

  .section-projects--photoarea img {
    width: inherit;
    height: inherit;
  }

  .section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
  }

  .section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
  }

  .section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
  }

  .section-projects .button {
    margin: auto;
    margin-top: 20px;
  }

  .bg-team {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  .section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
  }

  .section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
  }

  .section-team .sliders {
    width: 1000vw;
    height: 100%;
    display: flex;
  }

  .section-team .slider {
    width: 280px;
    min-height: 300PX;
    margin-right: 20px;
    height: 100%;
    display: inline-block;
    background-color: white;
  }

  .section-team .slider .slidearea {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding: 30px;
  }

  .section-team-area .sliders-pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .section-team-area .pointer {
    width: 15px;
    margin: 0 5px;
    height: 15px;
    border: 2px solid #B88A57;
    border-radius: 50%;
    cursor: pointer;
  }

  .section-team-area .active {
    background-color: #B88A57;
  }

  .section-team--avatar {
    width: 150px;
    height: 100%;
  }

  .section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
  }

  .section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
  }

  .section-team--social {
    margin-top: 20px;
  }

  .section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 6px;
  }

  .section-team--social a:first-child {
    margin-left: 0;
  }

  .section-team--social a:hover {
    background-color: #B88A57;
  }

  .section-clients--avatar {
    width: 150px;
    height: 100%;
    margin: auto;
  }

  .section-clients--avatar img {
    width: inherit;
    height: inherit;
  }

  .section-clients--name {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
    text-transform: uppercase;
  }

  .section-clients--role {
    text-align: center;
    margin-top: 8px;
    font-size: 17px;
  }

  .section-clients--review {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-clients--review img {
    width: 25px;
    margin-top: 15px;
  }

  .section-clients--review p {
    margin-top: 10px;
    width: calc(100% - 40px);
    max-width: 600px;
  }

  .brands {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .marcas {
    margin-right: 50px;
  }

  .marcas:nth-child(6) {
    margin: 0;
  }

  .marcas img {
    width: 90px;
  }


  .reviews .sliders-pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .reviews .section-body {
    flex-direction: column;
  }

  .reviews .pointer {
    width: 15px;
    margin: 0 5px;
    height: 15px;
    border: 2px solid #B88A57;
    border-radius: 50%;
    cursor: pointer;
  }

  .reviews .active {
    background-color: #B88A57;
  }

  .sectio-prices--pai {
    display: flex;
  }

  .section-prices {
    flex: 1;
    margin-right: 25px;
    height: min-content;
    background-color: #fff;
    padding: 30px;
  }

  .section-prices:nth-child(4) {
    margin-right: 0;
  }

  .section-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .section-prices .section-type {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
  }

  .section-type--price {
    margin-top: 5px;
    font-size: 35px;
    font-weight: 600;
  }

  .section-prices p {
    margin: 5px 0;
  }

  .section-prices p:first-child {
    margin-top: 20px;
  }

  .section-type--month {
    color: #999;
    font-size: 14px;
  }

  .btn-express {
    background-color: #333;
    color: #fff;
    padding: 15px 35px;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
    border-radius: 15px;
    text-decoration: none;
  }

  .btn-express:hover {
    background-color: #B88A57;
  }

  .premium {
    background-color: #fff;
  }

  .premium .section-body {
    display: flex;
    justify-content: space-evenly;
  }

  .section-premium-left {
    width: 350px;
    height: 100%;
  }

  .section-premium-left img {
    width: inherit;
    height: inherit;
  }

  .section-premium-right {
    display: flex;
    width: 400px;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .section-premium-right h4 {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
  }

  .section-premium-right p {
    color: #999;
  }

  .section-premium-right ul {
    list-style: none;
    margin-top: 10px;
    color: #999;
    text-transform: uppercase;
  }

  .section-premium-right ul li::before {
    content: '-';
    margin-right: 5px;
  }

  .section-premium-right img {
    margin-right: 20px;
  }

  .opcoes-premium {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .premium .sliders-pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }

  .premium .pointer {
    width: 15px;
    margin: 0 5px;
    height: 15px;
    border: 2px solid #B88A57;
    border-radius: 50%;
    cursor: pointer;
  }

  .premium .active {
    background-color: #B88A57;
  }

  .barra-separator {
    width: 100%;
    max-width: 1140px;
    border-top: 2px solid #cccccc3d;
    margin: auto;
  }

  .premium .button {
    margin: auto;
  }

  .section-service .border-baixo {
    width: 50px;
    height: 5px;
    background-color: #8d8d8d;
    margin: auto;
    border-radius: 10px;
  }

  .numero-dark {
    font-weight: bold;
    font-size: 50px;
    color: #B88A57;
    margin-bottom: 8px;
  }

  .numeros .section-service {
    border: 0;
  }

  .sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    flex-wrap: wrap;
  }

  .share-socials {
    display: flex;
    align-items: center;
    align-items: center;
    margin-right: 40px;
  }

  .share-socials a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
  }

  .share-socials p {
    color: #999;
    font-weight: 600;
  }

  .linkedin {
    background-color: #117BB4;
  }

  .facebook {
    background-color: #336296;
  }

  .googleplus {
    background-color: #E84237;
  }

  .pinterest {
    background-color: #B81C29;
  }

  .twitter {
    background-color: #33C6F1;
  }

  .compartilhar img {
    margin-right: 6px;
  }

  .compartilhar p {
    font-size: 16px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-body fieldset {
    border: 0;
    display: flex;
    width: calc(100% - 30px);
    max-width: 600px;
    flex-wrap: wrap;
  }

  .section-body input::placeholder {
    text-transform: uppercase;
    font-weight: 600;
    color: #ccc;
  }

  .section-body fieldset input {
    margin-bottom: 45px;
  }

  #name,
  #email,
  #text,
  #message {
    outline: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #ccc;
    padding: 8px;
  }

  #name,
  #email {
    flex: 1;
  }

  #name {
    margin-right: 30px;
  }

  #text,
  #message {
    width: 100%;
  }

  #text {
    margin-bottom: 80px;
  }

  #btn-submite {
    margin: auto;
    border: 0;
    padding: 20px 50px;
    background-color: #B88A57;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    text-transform: uppercase;
  }

  .section-map {
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
  }

  .section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
  }

  .section-map--info {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #000;
  }

  .section-map--info-item {
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
  }

  .section-map--info-item-img {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 10px;
  }

  .section-map--info-item-img img {
    width: 20px;
    height: auto;
  }

  .section-footer-geral {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .section-footer {
    flex: 1;
    margin-left: 25px;
    padding: 30px;
  }

  .section-footer p {
    color: #8d8d8d;
    text-transform: uppercase;
  }

  .section-footer:nth-child(3) {
    margin-right: 0px;
  }

  .section-footer-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #373737;
    border-radius: 50%;
    margin-left: 6px;
  }

  .section-footer-social a:first-child {
    margin-left: 0;
  }

  .section-footer-social a:hover {
    background-color: #B88A57;
  }

  .meio {
    color: #8a8a8a;
  }

  .final {
    background-color: #373737;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #email2 {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    padding: 8px;
    font-weight: 600;
  }

  #email2::placeholder {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .final #btn-submite {
    margin-top: 20px;
  }

  @media (max-width: 1200px) {
    .section-aboutus--left {
      margin: 0 30px;
    }

    .section-footer:nth-child(3) {
      margin-right: 30px;
    }

    .section-map--info {
      margin-left: 30px;
    }

    .sectio-prices--pai {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .section-prices {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .slider:nth-child(3),
    .slider:nth-child(4) {
      display: none;
    }

    .section-team .sliders {
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
    }

    .section-team {
      margin: 0;
    }

    .section-services {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
    }

    .section-service {
      flex: none;
      width: 400px;
    }

    .section-service,
    .section-service:nth-child(4) {
      border: 0;
    }
  }

  @media (max-width:1000px) {
    .head {
      justify-content: center;
    }

    .menu {
      display: none;
    }

    .section-aboutus--left {
      text-align: center;
    }

    .section-aboutus {
      flex-direction: column;
      display: flex;
      align-items: center;
    }

    .section-aboutus--left {
      flex: 1;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .section-aboutus--left a {
      margin-bottom: 25px;
    }
  }

  @media (max-width: 830px) {
    .final form {
      display: flex;
      flex-direction: column;
      width: 300px;
    }

    .final {
      margin: 0;
    }

    .section-footer:nth-child(3) {
      margin-right: 0px;
    }

    .section-footer-geral {
      flex-direction: column;
      align-items: center;
    }

    .meio {
      text-align: center;
    }

    .section-footer-social {
      text-align: center;
      margin-bottom: 15px;
    }

    .section-map--info {
      margin: auto;
    }

    .section-premium-left {
      display: flex;
      justify-content: center;
    }

    .section-premium-left img {
      width: 250px;
    }

    .marcas {
      margin-right: 0;
      width: 300px;
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }

    .brands {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 670px) {
    .section-projects--filters {
      display: none;
    }

    .section-team .slider:nth-child(2) {
      display: none;
    }

    .premium .section-body {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
    }

    .section-premium-left {
      margin-bottom: 40px;
    }

    .section-premium-right {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 560px) {
    .banner .slidearea h1 {
      font-size: 40px;
    }
  }

  @media (max-width: 440px) {
    .banner .slidearea h1 {
      font-size: 30px;
    }
    
    .final form {
      width: 200px;
    }
  }